version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgresql-container
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=flask_db
    ports:
      - "5432:5432"
    networks:
      - app_network

  wait-for-db:
    image: alpine
    command: ["sh", "-c", "/script/wait-for-it.sh db:5432 -t 60 && echo 'Database is ready!'"]
    depends_on:
      - db

  api:
    depends_on:
      - wait-for-db
    build: ./api
    container_name: flask-api-container
    ports:
      - "5001:5001"
    networks:
      - app_network

  main_app:
    depends_on:
      - api
    build: ./main_app
    container_name: flask-main-app-container
    ports:
      - "5000:5000"
    networks:
      - app_network

networks:
  app_network:
