h1 {
    font-family: "Montserrat, sans-serif";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.custom-navbar {
    background-color: #EECC53;
    height: 100px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand-text {
    margin-left: 5px;
  }

.custom-nav-item {
    font-family: "Montserrat, sans-serif";
    margin-right: 10px;
}

.navbar-brand {
    font-family: "Ubuntu, sans-serif";
    margin-left: 20px;
}

.luffy-image {
    width: 55%;
}

.footer-icons {
    margin: 20px 10px;
    color: black;
}

.footer-icons:hover {
    color: #EECC53;
}


#footer {
    font-family: "Montserrat, sans-serif";
    padding: 20px 0;
    background-color: #E12118;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.fruit-name, .current-user, .fruit-type {
  font-size: 16px;
  text-align: center;
}

.card-overlay p {
  margin: 5px 0;
}
